.container {
  display: grid;
  grid-template-columns: 1.25fr 4fr 1fr;
	justify-content: center;


}

.aside__title {
		margin: 1rem;
		font-weight: 500;
		font-size: 1.5rem;
		color: #cccccc;
}




@media (max-width: 576px) {
	.container {
		grid-template-columns: 1fr;
		flex-direction: column-reverse;
	}

}

@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column-reverse;
		// flex-direction: column-reverse;
	}

}

@media (max-width: 1200px) {
	.container {
		grid-template-columns: 2fr 4fr;
	}
}

@media (max-width:1400px ){
	.container {
		grid-template-columns: 2.5fr 6fr;
	}
}
