// @import '../../../../styles.scss';
//
//.home {
//  display: flex;
//	flex-direction: column;
//
//  &__wrapper {
//		display: flex;
//    flex-wrap: wrap;
//    align-items: start;
//    justify-content: center;
//  }
//}
//

